<h1 align="center"> Introduction</h1>

<p> Use all the files to have a final datasets to have the following columns </p>
 <ul>
    <li>questid</li>
    <li>gender</li>
    <li>age (age of applicant)</li>
    <li>communeName (use data prep in commune file)</li>
    <li>application_date (created at in quest file)</li>
    <li>enroll_date (created_at in enroll file)</li>
    <li>is_enroll (Yes/No) (use data prep in enroll file)</li>
    <li>Education Level</li>
    <li>Communication channels(hear_AA1)</li>
    <li>Bootcamp Insterest (after_AA)</li>
    <li>Payement Date (use ord and transaction files)</li>
    <li>Payed (Yes/No)</li>
    <li>list Technologies as columns based (use get_dummies)</li>
    <li>list  Study domains (use get_dummies)</li>
    <li>Job is formal</li>
    <li>Have computer at home</li>
    <li>Have internet at home</li>
 </ul>
 
 <br>

<h1 align="center"> Project Setup </h1>

#### 1. Install all requirements for the project

In [29]:
# !pip install numpy
# !pip install pandas
# !pip install matplotlib
# !pip install seaborn

#### 2. Importing Dependencies

In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import sys

#### 3. Define some usefull variables

In [77]:
DOCS_PATH = 'docs/'
DATA_PATH = 'data/'

#### 4. Importing Datasets

In [78]:
commune_df = pd.read_excel((DATA_PATH + "commune.xlsx"))
enroll_df = pd.read_csv(DATA_PATH + "enroll.csv")
industry_df = pd.read_csv(DATA_PATH + "industry.csv")
ord_df = pd.read_csv(DATA_PATH + "ord.csv")
quest_df = pd.read_csv(DATA_PATH + "quest.csv")
studyd_df = pd.read_csv(DATA_PATH + "study_domain.csv")
tech_df = pd.read_csv(DATA_PATH + "technology.csv")
transaction_df = pd.read_csv(DATA_PATH + "transaction.csv")

<br><br>

<h1 align="center"> Data Preparation </h1>

### 1. Commune Dataset

>##### Data Overview

In [79]:
# Displaying first two entries of the Commune dataset using DataFrame.head()
commune_df.head(2)

     Commune_en    Commune_FR Commune_Id  Departement ADM1_PCODE
0      Abricots      Abricots     HT0812  Grande'Anse       HT08
1  Acul du Nord  Acul du Nord     HT0321        North       HT03

In [47]:
# Data Overview

### 2. Enroll Dataset

>##### Data Overview

In [58]:
# Displaying first entry of Enroll dataset
enroll_df.head(1)

,Unnamed: 0,created_at,expiry_date,user_id,course_name,course_id,percentage_completed,completed_at,expired,is_free_trial,completed,started_at,activated_at,updated_at,quest_id
0,0,2020-12-12T06:41:29.844Z,NaN,29816173,Entwodiksyon Nan Syans Done,1047613,0.0,NaN,False,True,False,NaN,NaN,2020-12-12T06:41:29.844Z,NaN

### 3. Industry Dataset

>##### Data Overview

In [64]:
# Displaying first two entries
industry_df.head(2)

,Unnamed: 0,key,values,quest_id
0,0,item1,Finance,905ddcf2-ce95-11eb-9a92-7c67a234f601
1,1,item6,Technology (Software/ Internet),905e2608-ce95-11eb-809f-7c67a234f601

### 4. Ord Dataset

>##### Data Overview

In [67]:
# Displaying first entry
ord_df.head(1)

,Unnamed: 0,created_at,user_id,product_name,product_id,amount_dollars,amount_cents,subscription,coupon_code,coupon_id,affiliate_referral_code,status,quest_id
0,0,2021-03-14T15:34:35.014Z,41587952,Entwodiksyon Nan Syans Done,1100636,20,2000,False,NaN,NaN,NaN,Complete,906b3c86-ce95-11eb-b6a7-7c67a234f601

### 5. Questions Dataset

>##### Data Overview

In [69]:
# Displaying first entry
quest_df.head(2)

,Unnamed: 0,gender,dob,commune,created_at,modified_at,department,education_level,university,study_domain,current_employed,formal_sector_job,have_computer_home,internet_at_home,hear_AA_1,after_AA,quest_id
0,0,male,25/08/1998,ht0111,2021-02-14T23:03:52.768400Z,2021-02-14T23:03:52.768462Z,NaN,unknown,unknown,[],unknown,unknown,unknown,unknown,unknown,unknown,905dc006-ce95-11eb-b2f9-7c67a234f601
1,1,female,29/09/1996,ht0111,2021-02-16T16:01:10.861844Z,2021-02-16T16:01:10.861899Z,ht01,Bachelors (bacc +4),other,['other'],No,unknown,Yes,Yes,Friend,Finding a job/internship,905ddcf2-ce95-11eb-9a92-7c67a234f601

### 6. Study Domain Dataset

>##### Data Overview

In [70]:
# Displaying first two entries
studyd_df.head(2)

   Unnamed: 0    key            values                              quest_id
0           0  other             other  905ddcf2-ce95-11eb-9a92-7c67a234f601
1           1  item1  Computer Science  905e4cf5-ce95-11eb-96a9-7c67a234f601

### 7. Tech Dataset

>##### Data Overview

In [71]:
# Displaying first two entries
tech_df.head(2)

   Unnamed: 0     key values                              quest_id
0           0   item1      R  905ddcf2-ce95-11eb-9a92-7c67a234f601
1           1  item11  Excel  905ddcf2-ce95-11eb-9a92-7c67a234f601

### 8. Transaction Dataset

>##### Data Overview

In [74]:
# Displaying first three entries
transaction_df.head(3)

,Unnamed: 0,created_at,modified_at,user_id,course_id,transaction_id
0,0,2021-03-08T05:08:50.832Z,2021-03-08T05:08:50.832Z,40976440,1047613,4641281952
1,1,2021-03-08T17:26:35.841Z,2021-03-08T17:26:35.841Z,41179271,1047613,4644270160
2,2,2021-03-08T18:52:09.147Z,2021-03-08T18:52:09.147Z,40973512,1047613,4645070622

<br><br>

<h1 align="center"> Solutions </h1>

###  1. How many observations and variables are there in the dataset

In [ ]:
# here your codes

### 2.0. Calculate the average age of the observations

>#### On the whole dataset

In [ ]:
# here your codes

>#### On the whole male dataset

In [10]:
# here your codes

>#### On all the female dataset

In [11]:
# here your codes

### 2.1. Calculate

>#### Variance of the whole datatset, male and female

In [9]:
# here your codes

>#### kurtosis of the whole datatset, male and female

In [7]:
# here your codes

>#### Skewness of the whole datatset, male and female

In [5]:
# here your codes

### 2.2. Does the age distribution follow a normal distribution

In [ ]:
# here your codes

### 3. Display the age frequency disbrution

In [12]:
# here your codes

>#### On the whole dataset

In [13]:
# here your codes

>#### On the whole male dataset

In [14]:
# here your codes

>#### On all the female dataset

In [16]:
# here your codes

### 4. Can we say that the average age (24 years old) of the observations can be considered as the average age of the population likely to participate in this bootcamp. Justify your answer

In [ ]:
# here your codes

### 5. Calculate the average age of participants for each communication channel

In [ ]:
# here your codes

### 6. Display an age boxplot for each communication channel

In [ ]:
# here your codes

### 7. Is there a significant age difference between these groups

In [ ]:
# here your codes

### 8. Plan a BA strategy for each communication channel regarding the age group

In [ ]:
# here your codes

### 9. According to the observations what is the probability of being in each channel of communication knowing your are a woman

In [ ]:
# here your codes

### 10. According to the observations what is the probability of being in each channel of communication knowing your are a man

In [ ]:
# here your codes

### 11. Deduce the probability of being a woman knowing each communication channel

In [ ]:
# here your codes

### 13. Deduce the probability of being a woman knowing each communication channel

In [ ]:
# here your codes

### 14. Deduce the probability of being a man knowing each communication channel

In [2]:
# here your codes

### 15. Display a plot to see Gender vs Communication Channels .Is there any dependency between communication channels and gender?

In [ ]:
# here

### 16. Use the same method to display plot and know if is there any dependency between communication channels and Bootcamp Insterest?

In [ ]:
# here your codes

### 17. Plan a BA  strategy for each communication channel, Bootcamp Insterest regarding the gender

In [ ]:
#here your codes

### 18. Plan a BA  strategy for each communication channel, Bootcamp Insterest regarding the gender

In [5]:
# here your codes

### 19. Calculate

>#### P(Bootcamp Insterest,Communication channels,Gender/Payed=yes)

In [ ]:
# here your codes

>#### P(Bootcamp Insterest,Communication channels,Gender/Payed=no)

In [18]:
# here your codes

### 20. Reduce

>#### P(Payed="yes"/Bootcamp Insterest="Increase Skill",Communication channels="Friend",Gender="male")

In [21]:
# here your codes

>#### P(Payed="no"/Bootcamp Insterest="Increase Skill",Communication channels="Friend",Gender="male")

In [24]:
# here your codes

<br><br>

<h1 align="center"> Conclusion </h1>

### Based on these findings, propose strategies to increase our sales?

In [80]:
#here your codes